.wp-block-blockylicious-pic-gallery {
    .image-preview {
        width: 100%;
    }
    
    .gallery-thumbnails {   
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .thumb {
        width: 100%;
        border-radius: 12px;
        border: 5px solid transparent;
        cursor: pointer;
        display: block;
        filter: brightness(0.5);
        transform: scale(1);
        transition: 0.2s ease all;
        box-sizing: border-box;
        height: 75px;
        object-fit: cover;

        &:hover {
            filter: brightness(1);
        }

        &.selected {
            border: 5px solid #0073aa;
            transform: scale(1.05);
            filter: brightness(1);
        }
    }
}